* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-primary);
}

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);

  --fs-para: 1.6rem;
  --fs-heading: 2.4rem;

  --fw-regular: 600;
  --fw-bold: 800;

  --ff-primary: "Figtree", sans-serif;
}

.wrapper {
  max-width: 144rem;
  padding: 2rem;
}

body {
  background-color: var(--clr-yellow);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-size: var(--fs-para);
}

.blog-post {
  margin-bottom: 3rem;
  width: 38rem;
  background-color: var(--clr-white);
  border: 0.22rem solid var(--clr-black);
  box-shadow: 0.8rem 0.7rem 0 var(--clr-black);
  padding: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;

  & .blog-image {
    width: 100%;

    & img {
      width: 100%;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }
  }

  & .blog-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  & .blog-content .date-category p:nth-of-type(1) {
    margin-block: 2rem 1.5rem;
    width: 8.5rem;
    background-color: var(--clr-yellow);
    padding: 0.5rem 1rem;
    font-weight: var(--fw-bold);
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

  & .blog-content h1 {
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);

    &:hover {
        color: var(--clr-yellow);
    }
  }

  & .blog-content > p {
    font-size: var(--fs-para);
    color: var(--clr-grey);
    line-height: 1.5;
  }

  & .blog-content .blog-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: var(--fw-bold);

    & img {
      width: 3rem;
      height: 3rem;
    }

    & h3 {
        font-size: var(--fs-para);
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
